<h1>{{ title }}</h1>

<h3>personal data</h3>
<b>Name:</b><i> {{ person.name }}</i>
<br>
<b>Surname:</b><i> {{ person.surname }}</i>
<br>
<b>Patronymic:</b><i> {{ person.patronymic }}</i>
<br>
<b>Age:</b><i> {{ person.age }}</i>
<br>
<b>Date of birth:</b><i> {{ person.dateOfBirth }}</i>

<h3>location</h3>
<b>City:</b><i> {{ person.city }}</i>
<br>
<b>Country:</b><i> {{ person.country }}</i>
<br>
<b>Strit:</b><i> {{ person.strit }}</i>
<br>
<b>House number:</b><i> {{ person.houseNumber }}</i>
<br>
<b>Apartment number:</b><i> {{ person.apartmentNumber }}</i>

<h3>education</h3>
<b>Education:</b><i> {{ person.education }}</i>
<br>
<b>Specialty:</b><i> {{ person.specialty }}</i>

<h3>work</h3>
<div *ngFor='let company of person.workCompany;let i = index'>
  <b>Company:</b><i> {{company}}</i>
  <br>
  <b>Position:</b><i> {{ person.workPosition[i] }}</i>
  <br>
  <b>Years of work:</b><i> {{ person.workYearsOfWork[i] }}</i>
  <br>
  <br>
</div>

<b>About me:</b>
<br>
<i> {{ person.aboutMe }}</i>
